<ion-view view-title="Productfamilies" 
swipe-right-to-page 
ng-attr-swipe-right-target="none" 
ng-attr-swipe-right-state="tab.productfamilies" 
ng-attr-swipe-right-gesture="swiperight"
swipe-left-to-page 
ng-attr-swipe-left-target="none" 
ng-attr-swipe-left-state="tab.dash" 
ng-attr-swipe-left-gesture="swipeleft" 
>
<ion-content class="padding" scroll="false">
<div class="page_content product_family_page">
	  

	
<div class="row row-up" layout="row">

<!-- COMMENTED_OUT
    <div class="col col-67"  style="height: inherit;">
- EOF - COMMENTED_OUT -->

    <div flex="{{half1}}" class="half1">
	  	
		<div layout="row" layout-fill layout-align="center center" class="product_card_container">
		
			<div flex="{{mdFlexValues[$index] | number:0}}" 
			class="gray product_card " 
			ng-repeat="product in Products | object2Array | orderBy:'Order' track by $index" 
			ng-if="product.Product" 
			style="
			height:{{mdFlexHeight}}%;
			width:{{mdFlexValues[$index]}}%;
			flex:0 0 {{mdFlexValues[$index]}}%;
			-webkit-flex:0 0 {{mdFlexValues[$index]}}%;
			background-image:url(img/products/cards/{{product.id}}.jpg);
			"
			>
			
			<div class="outta_view" style="background: url(img/product-sliders/{{product.id}}/1.jpg);"></div>
			

<!-- COMMENTED_OUT - TODO: NG-TAP INSTEAD OF UI-SREF?
				<div class="card_overlay dark" ui-sref="tab.products({prodFamID: selectedProdFamID, productID: product.id})">
- EOF - COMMENTED_OUT - TODO: NG-TAP INSTEAD OF UI-SREF? -->
				<div class="card_overlay dark " 
				layout="column" 
				layout-align="center center" 
				ui-sref="tab.products({prodFamID: selectedProdFamID, productID: product.id})"
				>
<!-- COMMENTED_OUT
					{{product.id}}
- EOF - COMMENTED_OUT -->
						<span flex class="flex_force_to_bottom">
<!-- COMMENTED_OUT
							<h2 class="centered">
								<div
								front-office-edit="product.Product" 
								ng-attr-stringid="{{product.ProductString_ID}}" 
								ng-attr-stringname="{{product.Product}}" 
								string-compiler
								></div>
							</h2>
- EOF - COMMENTED_OUT -->
							<h2 ng-bind-html="product.Product | translate"></h2>
						</span>
						
						<div flex class="short_text centered">
<!-- COMMENTED_OUT
							<div
							front-office-edit="product.ShortDescription" 
							ng-attr-stringid="{{product.ShortDescriptionString_ID}}" 
							ng-attr-stringname="{{product.ShortDescription}}" 
							string-compiler
							></div>
- EOF - COMMENTED_OUT -->
							<div ng-bind-html="product.ShortDescription | translate">
								
							</div>
						</div>
				</div>
				
				<div class="tile_footer">
					<h3 ng-bind-html="product.Product | translate"></h3>
				</div>
				
			</div>
			
		</div>
		
  	</div>
		
		
		
		
<!-- COMMENTED_OUT
  	<div class="col col-33">
- EOF - COMMENTED_OUT -->
  	<div flex="{{half2}}" class="half2 box_shadow">
			
<!-- DO NOT DELETE : EXAMPLE OF STICKY INNER TOPNAV, FOR SECONDARY ACTIONS
  			<div style="
  			float:right;
  			background:black;
  			height:2rem;
  			width:2rem;
  			padding:0;
  			margin:0;
  			z-index:300;
  			">
  				 2b
  			</div>
- EOF - O NOT DELETE : EXAMPLE OF STICKY INNER TOPNAV, FOR SECONDARY ACTIONS -->

		<ion-content class="col-{{half2}}" scroll="false">
		
		
			
<!-- ANGULAR MATERIAL LIST (SEE HOW MUCH NEEDS TO BE REFACTORED)
			    <md-list>
			      <md-subheader class="md-no-sticky">3 line item</md-subheader>
			      <md-item class="md-3-line" ng-repeat="item in Services | object2Array | orderBy:'Order'">
			        <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
			        <div class="md-item-text">
			          <h3>test{{ item.who }}</h3>
			          <h4>test{{ item.what }}</h4>
			          <p>test{{ item.notes }}</p>
			        </div>
			    </md-list>
- EOF - ANGULAR MATERIAL LIST (SEE HOW MUCH NEEDS TO BE REFACTORED) -->
				
				
<!-- IONIC LIST
				<ul class="list">
				    <li class="item" ng-repeat="service in Services | object2Array | orderBy:'Order'">
				      {{service.Service | translate}}
				    </li>
				</ul>
- EOF - IONIC LIST -->
				
			
			
  				
			<div class="right_col_flex_rows">
				<div>
<!-- DEBUG, LEAVE IN PLACE
					selectedProdFamID is currently {{selectedProdFamID}}
					<br>
					below is test-directive
					<br>
					<div test-directive></div>
- EOF - DEBUG, LEAVE IN PLACE -->
					
					
					
					
					<h4>
						<div
						front-office-edit="section.title" 
						ng-attr-stringid="{{section.title_stringid}}" 
						ng-attr-stringname="{{section.title}}" 
						string-compiler
						></div>
					</h4>
				</div>
			</div>
			
			<div class="right_col_flex_rows">
				 <div class="text">
					<div
					front-office-edit="section.text" 
					ng-attr-stringid="{{section.text_stringid}}" 
					ng-attr-stringname="{{section.text}}" 
					string-compiler
					></div>
				 </div> 
			</div>
			
			
			
			
			
			
			
			
			
			
			<div class="demo">
			<div class="bottom_nav">
				
				<md-button class="md-icon-button" ng-class="{'md-primary': editMode === false, 'md-accent': editMode === true}" aria-label="Edit"  on-tap="toggleEditMode()">
					<md-tooltip>
					          Éditer
					</md-tooltip>
				    <md-icon ng-class="{'ion-locked': editMode === false, 'ion-edit': editMode === true}"></md-icon>
				</md-button>
				
				<md-button class="md-icon-button" ng-class="{'md-primary': iframesStatus === false, 'md-accent': iframesStatus === true}" aria-label="Edit"  on-tap="iframesStatus = !iframesStatus; hide_iframes(iframesStatus);">
					<md-tooltip>
					          Vidéos
					</md-tooltip>
				    <md-icon ng-class="{'ion-play': iframesStatus === false, 'ion-stop': iframesStatus === true}"></md-icon>
				</md-button>
				
			</div>
			</div>

				
  		</ion-content>
  	</div>
	
	
	
	
  	</div>


</div>
</ion-content>
</ion-view>





